/* donation.css */
body {
  font-family: Arial, sans-serif;
}

.iframe-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.iframe-content {
  display: flex;
  background-color: white;
  padding: 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  flex-direction: column;
}

.iframe-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #888;
}

.iframe-close-button:hover {
  color: #000;
}

.iframe-content iframe {
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.donate-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #61bdcc;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.donate-button:hover {
  background-color: #3ca8b9;
}

body.iframe-body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: fit-content;
  overflow-y: auto;
}

.donation-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
}

/* .donation-container h1 {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: lighter;
  color: #cdcdcd;
} */

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  text-align: left;
}

input,
select,
button {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 20px;
  background-color: #54bf97;
  color: #fff;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #42b389;
}

.erc20-field {
  display: none;
}

#logo {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: auto;
  max-height: 100%;
  margin-bottom: 10px;
}
#logo a {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  width: 100%;
}
#logo a .logo-default {
  display: flex;
  max-height: 52px;
}
#logo img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  transition: height 0.4s ease, padding 0.4s ease, margin 0.4s ease,
    opacity 0.3s ease;
}
